@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');

.btn {
    font-family: 'Exo', sans-serif;
    border-radius: 10px;
    background-color: #79A8A9;
    margin-top: 1px;
    margin-bottom: 1px;
}

.typing-form {
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;  
    margin-top: 5px;  
}

.input-style {
    font-family: 'Exo', sans-serif;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 93vw;
    border: 0;
    background-color: #F4F7F7;
    padding-left: 10px;
    border: 1px solid #1F4E5F;
    border-radius: 12px;
    box-sizing: border-box;
}